.header {
  // background-color: $color-grey-3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 3.9rem;
    padding-bottom: 3.9rem;
  }
}
