* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  // outline: 1px solid limegreen !important;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

body {
  font-family: $font-primary-regular;
  background-color: $color-white;
  color: $color-black;
  overflow-y: scroll;
}

.lock-scroll {
  // position: fixed;
  overflow-y: hidden;
}
