.btn {
  &,
  &:link,
  &:visited {
    @extend .label-text-semibold;
    border: none;
    text-transform: capitalize;
    line-height: 2.4rem;
    text-decoration: none;
    padding: 1.2rem 2.4rem;
    display: inline-block;
    border-radius: 100px;
    transition: background-color 0.2s, color 0.2s;
    cursor: pointer;
  }

  svg {
    fill: currentColor;
  }

  &__icon {
    height: 2.4rem;
    width: 2.4rem;
  }

  &--filled {
    &,
    &:link,
    &:visited {
      color: $color-white;
      background-color: $color-primary;

      &:hover {
        background-color: $color-primary-dark;
      }
    }
  }

  &--outline {
    &,
    &:link,
    &:visited {
      color: $color-primary-dark;
      outline: 1px solid currentColor;
      outline-offset: -1px;
      background-color: transparent;

      &:hover {
        background-color: $color-primary-light;
      }
    }
  }

  &--white {
    &,
    &:link,
    &:visited {
      line-height: unset;
      color: $color-white;
      background-color: rgba($color-white, 0.1);
      outline: 1px solid currentColor;
      outline-offset: -1px;
      padding: 0.8rem 1.6rem;

      span {
        background-color: transparent;
      }

      &:hover {
        background-color: rgba($color-white, 0.2);
      }
    }
  }

  &--white-dropdown {
    &,
    &:visited,
    &:link {
      display: flex;
      align-items: center;
      gap: 0.8rem;
      width: max-content;
    }
  }

  &--icon-only {
    &,
    &:visited,
    &:link {
      line-height: 0;
      padding: 1.2rem 1.2rem;
    }
  }

  &--icon-right {
    &,
    &:visited,
    &:link {
      display: flex;
      align-items: center;
      gap: 0.8rem;
      width: max-content;
    }
  }

  &--icon-left {
    &,
    &:visited,
    &:link {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      gap: 0.8rem;
      width: max-content;
    }
  }

  &--icon-right,
  &--icon-left {
    &,
    &:visited,
    &:link {
      &:active {
        outline: none;
        background-color: $color-primary-light;
        color: $color-primary-dark;
      }
    }
  }
}

.filter-active {
  &,
  &:visited,
  &:link {
    background-color: $color-primary-light;
    outline: none;
  }
}
