.section-title {
  color: $color-secondary;
  position: relative;
  line-height: 2.4rem;
  margin-bottom: 0.6rem;

  &::before {
    content: "";
    display: block;
    width: 3.2rem;
    height: 1px;
    background-color: currentColor;
    position: absolute;
    left: -0.8rem;
    top: 50%;
    transform: translateX(-100%);
  }
}
