@font-face {
  font-family: "Lexend";
  src: url("/assets/fonts/lexend-light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("/assets/fonts/lexend-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("/assets/fonts/lexend-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("/assets/fonts/lexend-semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("/assets/fonts/lexend-black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
