@font-face {
  font-family: "LexendLight";
  font-style: normal;
  font-weight: normal;
  src: url("./lexend-light.woff2") format("woff2");
}

@font-face {
  font-family: "LexendRegular";
  font-style: normal;
  font-weight: normal;
  src: url("./lexend-regular.woff2") format("woff2");
}

@font-face {
  font-family: "LexendMedium";
  font-style: normal;
  font-weight: normal;
  src: url("./lexend-medium.woff2") format("woff2");
}

@font-face {
  font-family: "LexendSemibold";
  font-style: normal;
  font-weight: normal;
  src: url("./lexend-semibold.woff2") format("woff2");
}

@font-face {
  font-family: "LexendBlack";
  font-style: normal;
  font-weight: normal;
  src: url("./lexend-black.woff2") format("woff2");
}
