@mixin horizontalScroll {
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

@mixin centerSection {
  margin: 0 auto;
  max-width: 126rem;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
}
