//MISC
.u-show {
  opacity: 1;
  visibility: visible;
}

.u-rotate-arrow {
  transform: rotate(-90deg);
}

.u-color-black {
  color: $color-black;
}

//LAYOUT
.u-section-content {
  @include centerSection;

  &:not(:first-child) {
    margin-top: 12rem;
  }
}
