//MISC
.u-show {
  opacity: 1;
  visibility: visible;
}

.u-rotate-arrow {
  transform: rotate(-90deg);
}

.u-color-black {
  color: $color-black;
}

//LAYOUT
.u-section-content {
  margin: 0 auto;
  max-width: 126rem;
  padding-left: 3.2rem;
  padding-right: 3.2rem;

  &:not(:first-child) {
    margin-top: 12rem;
  }
}
