//FONT STYLES
$font-primary-light: "LexendLight", sans-serif;
$font-primary-regular: "LexendRegular", sans-serif;
$font-primary-medium: "LexendMedium", sans-serif;
$font-primary-semibold: "LexendSemibold", sans-serif;
$font-primary-black: "LexendBlack", sans-serif;
//COLORS
//monochrome
$color-white: #fff;
$color-grey-1: #e0e3eb;
$color-grey-2: #888b97;
$color-grey-3: #626687;

//colourful
$color-primary: #10b981;
$color-primary-dark: #0b9567;
$color-primary-light: #d1fae5;
$color-secondary: #f59e0b;
$color-black: #1b1c57;
$color-danger: #ef4444;
$color-danger-light: #fee2e2;
$color-info: #1d4ed8;
$color-info-light: #dbeafe;

//borders
$border-input: 1px solid $color-grey-1;
$border-input-focus: 1px solid $color-primary;
$radius-input: 2.8rem;

//shadows
$shadow-lg: 0 1.1rem 4.8rem rgba(51, 51, 51, 0.06);
$shadow-md: 0 0.8rem 3.2rem rgba(12, 21, 55, 0.09);
